/* Global Stylesheet */

/* Body styling */
body {
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
margin: 0;
padding: 0;
}

/* Header styling */
header {
background-color: #053006; /* Green */
padding: 15px;
}

/* Navigation styling */
nav {
background-color: #f1edeb; /* Dark gray */
padding: 10px;
}

/* Main content styling */
main {
background-color: #f9f9f9; /* Light gray */
font-size: 18px;
padding: 20px;
}

/* Footer styling */
footer {
background-color: #623199; /* Dark background */
color: rgb(211, 90, 137);
text-align: center;
padding: 15px;
}

/* List items */
li {
display: inline-block;
width: 120px;
text-align: center;
margin: 5px;
}

/* Headings */
h1 {
text-align: center;
font-family: "Georgia", serif;
color: #5dc5df; /* Dark blue-gray */
}

/* Paragraphs */
p {
line-height: 1.6;
}